body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
}
header {
  text-align: center;
  padding: 20px;
}
main {
  text-align: center;
  padding: 20px;
}
.image-container {
  text-align: center;
}
img {
  max-width: 30%;
  height: auto;
}
footer {
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.boton {
  display: inline-block;
  padding: 15px 30px;
  font-size: 20px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.boton:hover {
  background-color: #555;
}
.lateral-izquierdo,
.lateral-derecho {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 75px; 
  background-color: white;
}
.lateral-izquierdo {
  left: 0;
}
.lateral-derecho {
  right: 0;
}
