body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    background: linear-gradient(150deg, #AAA4A3, #494343);
    height: 100vh;
}

.Formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    text-align: center;
}

.Formulario header {
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.Formulario form {
    padding: 0 40px;
    box-sizing: border-box;
}

.Username,
.Contraseña {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.Username input,
.Contraseña input { 
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.Username label,
.Contraseña label { 
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.Username span::before,
.Contraseña span::before { 
    content: '';
    position: absolute;
    top: 40%;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: .5s;
}

.Username input:focus ~ label,
.Username input:focus ~ label,
.Contraseña input:focus ~ label,
.Contraseña input:focus ~ label { 
    top: -5px;
    color: black;
}

.Username input:focus ~ span::before,
.Username input:focus ~ span::before,
.Contraseña input:focus ~ span::before,
.Contraseña input:focus ~ span::before { 
    width: 100%;
}

.Recordar {
    margin: -5px 0 20px 5px;
    color: blue;
    cursor: pointer;
}

.Recordar:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #494343;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: #494343;
    transition: .5s;   
}

.registrate {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;
}

.registrate a {
    color: blue;
    text-decoration: none;
}

.registrate a:hover {
    text-decoration: underline;
}

